{% extends "base.html" %}
{% block add_css %}
    <!-- Morris Charts CSS -->
    <!-- <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet"> -->
{% endblock add_css %}
{% block page-wrapper %}

<div id="page-wrapper">
    <div class="row">
        <h2>详细信息</h2>
        <div class="col-lg-4">
            <div class="ibox-content">
                <div class="ibox-content ibox-heading">
                    <h3>主机</h3>
                <!-- <small><i class="fa fa-map-marker"></i> 此主机信息.</small> -->
                </div>
                <div class="text-left">
                    <table class="table">
                        <tr>
                            <td class="text-navy">主机名</td>
                            <td>{{ devs.info.hostname|default:""  }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">IP</td>
                            <td>{{ devs.info.ip|default:""  }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">其他IP</td>
                            <td>
                                <table class="table">
                                {% if devs.info.other_ip %}
                                    {% for ip in asset.other_ip %}
                                    <tr>
                                        <td>{{ ip }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-navy">IPMI IP</td>
                            <td>{{ devs.info.remoteaddr|default:"" }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">ssh 用户</td>
                            <td>{{ devs.info.sshuser|default:"" }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">ssh 密码</td>
                            <td>{{ devs.info.sshpass|default:"" }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">ssh端口</td>
                            <td>{{ devs.info.sshport|default:"" }}</td>
                        </tr>

                        <tr>
                            <td class="text-navy">资产组</td>
                            <td>{{ devs.group|default:"" }}</td>
                        </tr>
                        <!-- <tr>
                            <td class="text-navy">使用默认管理账号</td>
                            <td>{{ asset.use_default_auth }}</td>
                            <td>{{ asset.use_default_auth }} 
                            {% if not asset.use_default_auth %} 
                                <span class="text-info">{{ asset.username }}</span> 
                            {% endif %}
                            </td>
                        </tr> -->
                        <tr>
                            <td class="text-navy">IDC</td>
                            <td>{{ devs.idcinfo.idcname|default:"" }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">硬件厂商/型号</td>
                            <td>{{ devs.info|default:"" }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">CPU</td>
                            <td>{{ devs.info.cputype|default:"unknown" }} {{ devs.info.cpunum|default:"unknown" }} 核</td>
                        </tr>
                        <tr>
                            <td class="text-navy">内存</td>
                            <td>{{ devs.info.mem|default:"0" }}{% if devs.info.memory %}G{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">硬盘</td>
                            <td>{{devs.info.disk }}
                            </td>
                        </tr>
                        <tr>
                                        <td class="text-navy">资产编号</td>
                                        <td>{{ devs.info.compsn|default:"" }}</td>
                        </tr>
                        <tr>
                                        <td class="text-navy">SN</td>
                                        <td>{{ devs.info.devsn|default:"" }}</td>
                        </tr>
                        <tr>
                                        <td class="text-navy">虚拟化</td>
                                        <td>{{ devs.info.hyper|default:"" }}</td>
                        </tr>
                        <tr>
                                        <td class="text-navy">系统版本</td>
                                        <td>{{ devs.info.os|default:"" }}</td>
                        </tr>
                       <!--  <tr>
                                        <td class="text-navy">系统平台</td>
                                        <td>{{ asset.system_arch|default:"" }}</td>
                        </tr> -->
                        <!-- <tr>
                                        <td class="text-navy">运行环境</td>
                                        <td>{{ asset.get_env_display|default:"" }}</td>
                        </tr> -->
                        <tr>
                                        <td class="text-navy">机器状态</td>
                                        <td>{{ devs.info.status|default:"" }}</td>
                        </tr>
                        <tr>
                                        <td class="text-navy">机柜号</td>
                                        <td>{{ devs.info.racknum|default:"" }}</td>
                        </tr>
                        <!-- <tr>
                                        <td class="text-navy">机柜位置</td>
                                        <td>{{ asset.position|default:"" }}</td>
                        </tr> -->
                        <tr>
                                        <td class="text-navy">添加日期</td>
                                        <td>{{ devs.info.createtime|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        <tr>
                                        <td class="text-navy">备注</td>
                                        <td>{{ devs.info.description|default:"" }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>    
        <div class="col-lg-4">
            <div class="ibox-content">
                <h3 class="ibox-content ibox-heading">最近10个历史命令</h3>
                <div class="text-left">
                    <table class="table">
                    <thead>
                        <th class="text-navy">名称</th>
                        <th class="text-navy">执行时间</th>
                    </thead>
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr>   
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr> 
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr> 
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr> 
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr> 
                        <tr>
                            <td class="text-navy">ls</td>
                            <td class="text-navy">2010-11-11</td>
                        </tr> 

                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox-content">
                <h3 class="ibox-content ibox-heading">所在IDC</h3>
                <div class="text-left">
                    <table class="table">
                        <tr>
                            <td class="text-navy">名称</td>
                            <td>{{ devs.idcinfo.idcname }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">联系人</td>
                            <td>{{ devs.idcinfo.contantname  }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">手机</td>
                            <td>{{devs.idcinfo.mobile }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">固话</td>
                            <td>{{ devs.idcinfo.phone  }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">地址</td>
                            <td>{{ devs.idcinfo.address }}</td>
                        </tr>
                        <tr>
                            <td class="text-navy">描述</td>
                            <td>{{ devs.idcinfo.description }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox-content">
                <h3 class="ibox-content ibox-heading">历史命令统计</h3>
                <div class="col-lg-8" id="top10" style="margin-left: -15px;height: 346px;padding: 15px 0 15px 0;">
                    
                </div>
                 
            </div>
        </div>
    </div>
</div>
{% endblock page-wrapper %}
{% block add_script %}
<script src="/static/js/echarts/echarts.js"></script>

<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});

    require.config({
        paths: {
            'echarts': '/static/js/echarts/chart',
            'echarts/chart/line': '/static/js/echarts/chart/line',
            'echarts/chart/pie': '/static/js/echarts/chart/pie'
        }
    });
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function (ec) {
            var top10Chart = ec.init(document.getElementById('top10'));
            var option = {
                title : {
                    text: '月数据总览',
                    subtext: '一个月内历史汇总',
                    x: 'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                backgroundColor: '#fff',
                legend: {
                    data:['登陆次数', '活跃用户','活跃资产'],
                    y: 'bottom'
                },
                toolbox: {
                    show : false,
                    feature : {
                       mark : {show: true},
                       dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : {{ date_month | safe}}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'登陆次数',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_login_per_month | safe }}
                    },
                    {
                        name:'活跃用户',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_user_per_month | safe }}
                    },
                    {
                        name:'活跃资产',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_asset_per_month | safe }}
                    }

                ]
            };

            top10Chart.setOption(option);
        }
    );

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var auChart = ec.init(document.getElementById('activeUser'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['月活跃用户','禁用用户','月未登陆用户']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ active_user_month }}, name:'月活跃用户'},
                            {value:{{ disabled_user_count }}, name:'禁用用户'},
                            {value:{{ inactive_user_month }}, name:'月未登陆用户'}

                        ]
                    }
                ]
            };

            auChart.setOption(option);
        }
    );

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var aaChart = ec.init(document.getElementById('activeAsset'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['月被登陆主机','禁用主机','月未登陆主机']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ active_asset_month }}, name:'月被登陆主机'},
                            {value:{{ disabled_asset_count }}, name:'禁用主机'},
                            {value:{{ inactive_asset_month }}, name:'月未登陆主机'}

                        ]
                    }
                ]
            };

            aaChart.setOption(option);
        }
    );

    </script>
  
{% endblock add_script %}