{% extends "base.html" %}
{% block page-wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">新建用户</h1>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="" method="post">
								<div  class="col-sm-2 form-group">
								<label>username <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='username' required="" >
								</div>
								<div  class="col-sm-2 form-group">
								<label>password <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='password' required="" >
								</div>
								<!-- <div  class="col-sm-2 form-group">
								<label>group</label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='group'>
								</div>		
								<div class="col-sm-2 form-group">
								<label>Permission</label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='perm'>
								</div> -->	
								<div class="col-lg-12 panel-body">
								<!-- <button class="btn btn-primary" type="button" onclick='checkform()'>保存</button> -->
								<input type="submit" class="btn btn-primary" value='保存'/>
								<a href='/user/userlist' class="btn btn-primary">取消</a>
								</div>
							</form>
	                    </div>
				    </div>
				    </div>
			</div>
		</div>
{% endblock page-wrapper %}
