{% extends "base.html" %}
{% block page-wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">编辑组</h1>
                </div>
            </div>
            <div class="row">
                     <div class="col-lg-12">
                        <div class="panel-body">
                            <form  action="" method="post">
								<div class="col-lg-3">
								<label>组名：</label> 
								<input  type="text" class="form-control" name='gname' value='{{gdetail.name}}' required="">
								</div>
								<!-- <div class="col-lg-12 panel-body">
								<label>配置脚本（sls文件）：</label> 
								<textarea style="width: 592px; height: 502px;" class="form-control" rows="10" name='detail'>{{conf.detail}}</textarea>	
								</div> -->
								<div class="col-lg-12 panel-body">
								<!-- <button class="btn btn-primary" type="button">保存</button> -->
								<input type="submit" class="btn btn-primary" value='保存'/>
								<a href='/user/grouplist' class="btn btn-primary">取消</a>
								</div>
							</form>
	                    </div>
				    </div>
			</div>
		</div>
{% endblock page-wrapper %}
