
{% extends "base.html" %}

{% block add_css %}
    <!-- DataTables CSS -->
    <link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

{% endblock add_css %}

{% block page-wrapper %}
<div id="page-wrapper">
    <div class="row">
	<div class="panel-body">
                <div class="col-lg-11">
						<ul class="nav nav-pills">
								<li  class="active"><a href="salt_group" >Group</a></li> 
                                <li><a href="salt_hosts">Hosts</a></li>                                                              
						</ul>				
				</div>
				<div class="col-lg-1 pull-right">
							
                            <!-- Button trigger modal -->
                            <button class="btn btn-info" data-toggle="modal" data-target="#add">
                                新建组
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">                                           
                                            <h4 class="modal-title" id="add1">新建组</h4>
                                        </div>
                                        <div class="modal-footer ">    
											<form action="" method="post">	
										
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="输入组名" name="groupname" />	
												</div>
												<input type="submit" class="btn btn-primary" name='save' value='保存'/>
												<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											</form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                       
				</div>	
			</div>
			</div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
			<div class="panel-body">
				
				<div class="dataTable_wrapper">            
                     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>名称</th>
								<th>主机</th>		
								<th>描述</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
									{% for list in grps %}
									
                                        <tr>	
										<!-- <form action="/group_edit" method="post">   -->
											
                                            <td>{{ list.name }}</td>
											<td>
											{%for host in list.hosts%}											
												{{ host }}<br>
											{%endfor%}
											</td>
											<td>{{list.description}}</td>
											<td>
												<a class="btn btn-outline btn-primary btn-xs" href='/group_edit/{{list.gname}}'>编辑</a>
												<!-- <a class="btn btn-outline btn-primary btn-xs" href='/group_del/{{list.gname}}' onclick='mksure()'>删除</a> -->
												<button id='group_del' type='button' class="btn btn-outline btn-primary btn-xs" value='{{list.gname}}' onclick='mksure()' >删除</button>
											</td>	
										<!-- </form> -->
										</tr>  
									
									{% endfor %}
											
						</tbody>
                    </table>
		
				</div>
				
				</div>
				
            </div>
        </div>
    </div>
</div>

{% endblock page-wrapper %}

{% block add_script %}
    <!-- DataTables JavaScript -->
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
	
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
	function mksure(){
		groupnme = document.getElementById("group_del").value;
		//alert(groupnme)
		v = confirm('将删除组，不会删除其包含的主机。');
		if (v == true){
			//window.location.href="/salt_group";
			//pass;
		//}
		//else{
			window.location.href="/group_del/" + groupnme ;
		}
	};
	
    </script>
{% endblock add_script %}
