
{% extends "base.html" %}

{% block add_css %}
    <!-- DataTables CSS -->
    <link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

{% endblock add_css %}

{% block page-wrapper %}
<div id="page-wrapper">
    <div class="row">
	<div class="panel-body">
               
				<div class="col-lg-1 pull-right">
							
                            <!-- Button trigger modal -->
                            <button class="btn btn-info" data-toggle="modal" data-target="#add">
                                新建IDC
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">                                           
                                            <h4 class="modal-title" id="add1">新建IDC</h4>
                                        </div>
                                        <div class="modal-footer ">    
											<form action="" method="post">	
											<!-- {% csrf_token %} -->
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="名字" name="groupname" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="联系人" name="contenname" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="手机" name="mobile" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="座机" name="phone" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="Email" name="email" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="地址" name="address" />	
												</div>
												<div class="col-lg-6">
												<input  class="form-control" type="text" placeholder="备注" name="note" />	
												</div>
												<div class="col-lg-6">
												<input type="submit" class="btn btn-primary" name='save' value='保存'/>
												<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
												</div>
											</form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                       
				</div>	
			</div>
			</div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
			<div class="panel-body">
				
				<div class="dataTable_wrapper">            
                     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>IDC 名称</th>
								<th>主机</th>
								<th>联系人</th>
								<th>手机</th>
								<th>座机</th>
								<th>Email</th>	
								<th>机房地址</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
									{% for list in idcs %}
									
                                        <tr>	
										<!-- <form action="/group_edit" method="post">   -->
											
                                            <td>{{ list.name }}</td>
											<td>
											{%for host in list.devices%}											
												{{ host }}<br>
											{%endfor%}
											</td>
											<td>
												<a class="btn btn-outline btn-primary btn-xs" href='/idc_edit/{{list.name}}'>编辑</a>
												<!-- <a class="btn btn-outline btn-primary btn-xs" href='/group_del/{{list.gname}}' onclick='mksure()'>删除</a> -->
												<button id='idc_del' type='button' class="btn btn-outline btn-primary btn-xs" value='{{list.name}}' onclick='mksure()' >删除</button>
											</td>	
										<!-- </form> -->
										</tr>  
									
									{% endfor %}
											
						</tbody>
                    </table>
		
				</div>
				
				</div>
				
            </div>
        </div>
    </div>
</div>

{% endblock page-wrapper %}

{% block add_script %}
    <!-- DataTables JavaScript -->
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
	
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
	function mksure(){
		idcnme = document.getElementById("idc_del").value;
		//alert(groupnme)
		v = confirm('将删除IDC，不会删除其包含的主机。');
		if (v == true){
			//window.location.href="/salt_group";
			//pass;
		//}
		//else{
			window.location.href="/idc_del/" + idcnme ;
		}
	};
	
    </script>
{% endblock add_script %}
