{% extends "base.html" %}
{% block page-wrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">参数配置</h1>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="" method="post" id=''>
						
								<div  class="col-sm-2 form-group">
								<label>zabbix username <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='zauser' required="" value='{{config.zabbix_user}}'>
								</div>
								<div  class="col-sm-2 form-group">
								<label>zabbix password <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='zapass' required="" value='{{config.zabbix_pass}}'>
								</div>
								<div  class="col-sm-2 form-group">
								<label>zabbix api url <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='zaurl' required="" value='{{config.zabbix_url}}'>
								</div>		
								
								<div class="col-sm-2 form-group">
								<label>salt username <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input type="text" class="form-control" name='saltuser' required="" value='{{config.salt_user}}'>
								</div>
								<div  class="col-sm-2 form-group">
								<label>salt password <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input  type="text" class="form-control" name='saltpass' required="" value='{{config.salt_pass}}'>
								</div>	
								<div class="col-sm-2 form-group">
								<label>salt api url <span style="color:red">*</span></label> 
								</div>
								<div class="col-sm-10 form-group">
								<input type="text" class="form-control" name='salturl' required="" value='{{config.salt_url}}'>
								</div>	
							
								<div class="col-lg-12 panel-body">
								<!-- <button class="btn btn-primary" type="button" onclick='checkform()'>保存</button> -->
								<input type="submit" class="btn btn-primary" value='保存'/>
								<!-- <a href='/edit' class="btn btn-primary">取消</a> -->
								</div>
							</form>
	                    </div>
				    </div>
				    </div>
			</div>
		</div>
{% endblock page-wrapper %}
{% block add_script %}

   <!--  <script type="text/javascript">
	function checkform() {  
		cn = document.getElementById("conf_name").value;
		if (cn != ''){			
			$('#conf_form').submit();
		}
		else{
			document.getElementById("confname").setAttribute("class","col-lg-3 has-error");
		};
    };
    </script>
	 -->
{% endblock add_script %}